<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Candidat</title>
    <!-- Lien vers Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Ajouter un Candidat</h1>

        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.prenom.label }}
                {{ form.prenom }}
            </div>
            <div class="mb-3">
                {{ form.nom.label }}
                {{ form.nom }}
            </div>
            <div class="mb-3">
                {{ form.email.label }}
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.cv.label }}
                {{ form.cv }}
            </div>
            <div class="mb-3">
                {{ form.date_naissance.label }}
                {{ form.date_naissance }}
            </div>
            <div class="mb-3">
                {{ form.telephone.label }}
                {{ form.telephone }}
            </div>
            
            <button type="submit" class="btn btn-primary">Ajouter le Candidat</button>
        </form>

        <a href="{% url 'liste_candidats' %}" class="btn btn-secondary mt-3">Retour à la Liste</a>
    </div>

    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
